name: Generate SBOM

on:
    schedule:
        - cron: 0 0 * * * # Runs daily at midnight UTC
    push:
    workflow_dispatch:

jobs:
    generate-sbom:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6.0.1
            - name: Generate Python SBOM
              uses: CycloneDX/gh-python-generate-sbom@v2
              with:
                input: ./requirements.txt
                output: ./bom.json
                format: json
            - name: Upload SBOM artifact
              uses: actions/upload-artifact@v4
              with:
                name: sbom
                path: bom.json
